

.red{  color: #ef5728; }

.slide1{ background-color: #fff;  font-size: .30rem; padding-bottom:.98rem;}

.area-item{ padding:0 .2rem;  border-bottom:.12rem solid  #e4e4e4;  }
.area-item .same{  height:.85rem;  display: flex;  align-items: center;  justify-content: space-between;  }
.area-item .same.personal_info{  font-size: .34rem;  }
.area-item .same.specific_area{  padding-bottom:.20rem;  line-height: .40rem;  border-bottom: 1px solid #d4d4d4;  }

.moren .shezhi {width: .24rem;height: .24rem;margin-right:.20rem;border: 1px solid #000;border-radius: 3px; }
.moren .shezhi.act { background:#ef5728 url(../images/areaDuiHao.png) no-repeat center;  background-size: contain;}
.moren,.editDel{  display: flex;  align-items: center;  justify-content: space-between;  }
.editDel span{  color:#666;  }
.editDel .icon {  width: .34rem;  display:inline-block;  margin-left: .25rem;  background-size: cover;  }
.editDel .edit .icon {   height: .38rem;  background-image: url(../images/edit.png); }
.editDel .del {  margin-left: .55rem; }
.editDel .del .icon {  height: .36rem; background-image: url(../images/cancel.png); }

.addArea{  margin:0 .2rem;  height:.88rem;  font-size: .36rem;  color:#ef5728;
    display:flex;  align-items: center;  }
.addArea .icon{  width:.40rem;  height:.40rem;  margin-right:.2rem;
    background: url(../images/addArea.png) no-repeat center;  background-size: contain;  }

.zhifu {  width: 100%;  height: .98rem; line-height: .98rem;  text-align: center;
    position: fixed;  bottom: 0;  background-color: #fe3e2f;  color: #fff;  font-size: .36rem;  }



.slide2{  background-color: #f2f2f2;    font-size: .30rem; }
.pad20{  padding: 0 .20rem; background-color: #fff;  }
.red{  color: #ef5728; }

.formlist{  -webkit-display:flex;  display:flex;  flex-direction: column;  }
.formlist span{  width:1.40rem; font-size: .30rem;  color:#333;  }

.formInput{height:.80rem; border-bottom: 1px solid #d4d4d4}
.form-item{  display:flex;   align-items: center}
.form-item input{  flex-grow: 1; height:.8rem; }
.form-item input:focus{  outline: none;;  }
.specific.form-item{  flex-direction: column;  align-items: flex-start;  }
.specific span{ border-bottom: none;  line-height:.80rem;  }
.specific textarea{  text-align: left;  height:1.94rem;  width:100%;  padding:.1rem 0;  border:none; font-size: .28rem; }
.specific textarea:focus{  outline: none;  }

.formlist .choiceArea{  -webkit-flex-grow:1 ;  text-align: right; font-size: .28rem; }
.formlist .arrow{width:.35rem;  height:.28rem;background:url(../images/rightArrow.png)  no-repeat  right center ;
    background-size: contain;
}


.szMrfl{  height:.80rem; margin-top:.30rem;  display:flex;  align-items: center;  justify-content: space-between;  }
.szMrfl span{  font-size: .30rem;  }
.szMrfl .shezhi {  width: .24rem;  height: .24rem;  border: 1px solid #000;  border-radius: 3px;  }
.szMrfl .shezhi.act { background:#ef5728 url(../images/areaDuiHao.png) no-repeat center;  background-size: contain;}

.save {  width: 100%;  position: fixed;  bottom: 0;  height: .98rem;  background-color: #fe3e2f;  color: #fff;
    text-align: center;  line-height: .98rem;  font-size: .36rem;  }



.swiper-container{
    height:100%;
}
.slide1{
    overflow-y: scroll;
}